<div class="character-detail">
  <h2 md-header>Details</h2>
  <div class="rebel-icon"><i></i></div>
  <div *ngIf="character;else noCharacters">
    <p>
      <md-input-container>
        <input mdInput placeholder="Name" [(ngModel)]="character.name">
      </md-input-container>
    </p>
    <p>
      <md-select placeholder="Home World" [(ngModel)]="character.homeWorldId" (change)="syncHomeWorld()">
        <md-option *ngFor="let planet of planets" [value]="planet.id">
          {{ planet.name }}
        </md-option>
      </md-select>
    </p>
    <p>
      <md-checkbox [(ngModel)]="revealModel">Reveal Model</md-checkbox>
    </p>

    <pre *ngIf="revealModel">
      {{character | json}}{{homeWorld | json}}
    </pre>

  </div>

  <ng-template #noCharacter>
    <div>No character has been selected</div>
  </ng-template>
</div>
