@import 'mixin';

html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}
.content {
  margin: 1em;
}
.ng-title-icon > i {
  background-image: url("../assets/ng.png");
}
.azfunc-title-icon > i {
  background-image: url("../assets/azfunc.gif");
}
.ng-title-icon > i, azfunc-title-icon > i {
  background-repeat: no-repeat;
  background-position: center center;
  padding: 1.2em;
}
.title {
  margin-right: 1em;
}
.character-icon, .rebel-icon, .jedi-icon, .imperial-icon {
  display: flex;
  margin-bottom: 2em;
  & > i {
    padding: 32px;
    background-size: contain;
  }
}
.rebel-icon {
  & > i {
    background-image: url("../assets/rebel.jpg");
  }
}
.jedi-icon {
  & > i {
    background-image: url("../assets/jedi.jpg");
  }
}
.imperial-icon {
  & > i {
    background-image: url("../assets/imperial.jpg");
  }
}
.router-link-active {
  @include primary-background-contrast-color;
}
pre {
  background-color: map-get($accent, 100);
  padding: 1em;
  font-size: 12px;
  max-width: 260px;
}

// Characters and Planets
[md-header] {
  @include primary-color;
}

.detail {
  float: left;
  margin: 0.5em 0 0 2em;
}
.selected {
  @include selected-style;
}
md-list {
  float: left;
  margin: 0 0 2em 0;
  width: 9em;
  border-right: 1px solid #CCC;
  cursor: pointer;
  height: 600px;
  overflow: scroll;
}
md-list md-list-item.selected:hover {
  @include selected-hover-style;
}
md-list md-list-item:hover {
  left: .1em;
  @include hover-style;
}
md-select, md-input-container {
  width: 100%;
}

md-list-item.mat-list-item span {
    font-size: 14px;
}

.chart-fit {
  padding: 0.1em;
  max-width: 100%;
  max-height: 100%;
}

.progress {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 2em 0em;
}

.snack {
  @include selected-style;
}

.pull-right {
  position:fixed !important;
  right: 8px;
}

@media (max-width: 414px) {
  .pull-right {
    display: none !important;
  }

  .detail {
    max-width: 200px;
  }
}

/*article.template {
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}*/

.animated {
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


// .primary-a { @include primary-color-100; }
// .primary-b { @include primary-color-200; }
// .primary-c { @include primary-color-300; }
// .primary-d { @include primary-color-400; }
// .primary-e { @include primary-color-500; }
// .primary-f { @include primary-color-600; }
// .primary-g { @include primary-color-700; }
// .primary-h { @include primary-color-800; }
// .accent-a { @include accent-color-100; }
// .accent-b { @include accent-color-200; }
// .accent-c { @include accent-color-300; }
// .accent-d { @include accent-color-400; }
// .accent-e { @include accent-color-500; }
// .accent-f { @include accent-color-600; }
// .accent-g { @include accent-color-700; }
// .accent-h { @include accent-color-800; }
