@import 'mixin';

html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}
.content {
  margin: 1em;
}
.ng-title-icon > i {
  background-image: url("../assets/ng.png");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 1em 2em;
}
.rebel-icon {
  display: flex;
  margin-bottom: 2em;
  & > i {
    background-image: url("../assets/rebel.png");
    background-repeat: no-repeat;
    background-position: center center;
    padding: 32px;
    background-size: contain;
  }
}
md-checkbox {
  display: block;
}
.router-link-active {
  @include primary-background-contrast-color;
}
pre {
  background-color: map-get($accent, 100);
  padding: 1em;
  font-size: 16px;
  line-height: 2em;
}

// Rebels and Planets Lists
[md-header] {
  @include primary-color;
}
ro-rebel-detail {
  float: left;
  margin: 0.5em 0 0 2em;
  width: 17em;
}
.selected {
  @include selected-style;
}
md-list {
  float: left;
  margin: 0 0 2em 0;
  width: 12em;
  border-right: 1px solid #CCC;
}
md-list md-list-item.selected:hover {
  @include selected-hover-style;
}
md-list md-list-item:hover {
  left: .1em;
  @include hover-style;
}
md-select, md-input-container {
  width: 100%;
}
