<md-toolbar color="primary" class="dark">
  <div class="md-toolbar-tools" fxLayout="row nowrap" fxFlex fxLayoutAlign="end center">
    <a class="ng-title-icon" href="http://angular.io" target="_blank"><i></i></a>
    <a class="azfunc-title-icon" href="http://azure.com/functions" target="_blank"><i></i></a>

    <!--<span fxFlex class="title">One with Angular</span>-->

    <span fxFlex="grow"></span>
    <a fxFlex md-button [routerLink]="['/dashboard']"
      routerLinkActive="router-link-active"><span>Dashboard</span></a>
    <a fxFlex md-button [routerLink]="['/characters']"
      routerLinkActive="router-link-active"><span>Characters</span></a>
    <a fxFlex md-button [routerLink]="['/planets']"
      routerLinkActive="router-link-active"><span>Planets</span></a>
    <a fxFlex class="pull-right" md-button href="http://johnpapa.net" target="_blank"><span>John Papa</span></a>
  </div>
</md-toolbar>
