<div class="rebel-detail">
  <div class="rebel-icon"><i></i></div>
  <div *ngIf="rebel;else noRebel">
      <p>
        <md-input-container>
          <input mdInput placeholder="Rebel Name" [(ngModel)]="rebel.name">
        </md-input-container>
      </p>
      <p>
      <md-select placeholder="Home World" [(ngModel)]="rebel.homeWorldId">
        <md-option *ngFor="let planet of planets" [value]="planet.id">
          {{ planet.name }}
        </md-option>
      </md-select>
      </p>
      <p>
      <md-checkbox [(ngModel)]="revealModel">Reveal Model</md-checkbox>
      </p>

      <pre *ngIf="revealModel">{{rebel | json}}</pre>
  </div>

  <ng-template #noRebel>
    <div>No Rebel has been selected</div>
  </ng-template>
</div>
