<md-list>
  <h2 md-header>{{title}}</h2>
  <div *ngIf="planets;else noPlanets">
    <md-list-item *ngFor="let planet of planets"
      [class.selected]="planet===selectedPlanet"
      (click)="selectPlanet(planet)">
      <p md-line>
        <span>{{planet.name}}</span>
      </p>
    </md-list-item>
  </div>
  <ng-template #noPlanets>
    <md-progress-bar class="progress" color="accent" mode="indeterminate"></md-progress-bar>
  </ng-template>
</md-list>
<div></div>

<div *ngIf="selectedPlanet">
  <ro-planet-detail [planet]="selectedPlanet"></ro-planet-detail>
</div>
