<div *ngIf="planets | async;else noPlanets">
  <md-list>
    <h2 md-header>{{title}}</h2>
    <md-list-item *ngFor="let planet of planets | async"
      [class.selected]="planet===selectedPlanet"
      (click)="selectPlanet(planet)">
      <p md-line>
        <span>{{planet.name}}</span>
      </p>
    </md-list-item>
  </md-list>

  <div *ngIf="selectedPlanet">
    <ro-planet-detail [planet]="selectedPlanet"></ro-planet-detail>
  </div>
</div>

<ng-template #noPlanets>
  <md-progress-bar class="progress" color="accent" mode="indeterminate"></md-progress-bar>
</ng-template>

