<div>
  <!--<div class="a">100</div>
  <div class="b">200</div>
  <div class="c">300</div>
  <div class="d">400</div>
  <div class="e">500</div>
  <div class="f">600</div>
  <div class="g">700</div>
  <div class="h">800</div>-->
  <div *ngIf="planetSummary">
    <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="colorScheme"
      [results]="planetSummary"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </div>
</div>
